<a href="https://colab.research.google.com/github/Reece323/DS-Unit-1-Sprint-3-Linear-Algebra/blob/master/BUILDD.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Working on my BUILD!!!

###Starting out loading in and checking out:

In [1]:
%load_ext google.colab.data_table
# %unload_ext google.colab.data_table

import pandas as pd
import numpy as np
Fights = pd.read_csv('Build_FIGHTS.csv')
Fighters = pd.read_csv('Build_FIGHTERS.csv',names = ['url', 'fid', 'name', 'nick', 'birth_date', 'height', 'weight',
       'association', 'class', 'locality', 'country'])

###Checking out the Fighters:

In [2]:
Fighters.head(5)

                             url    fid  ...                 locality        country
0                            url    fid  ...                 locality        country
1  /fighter/Conor-McGregor-29688  29688  ...                   Dublin        Ireland
2       /fighter/Jon-Jones-27944  27944  ...      Rochester, New York  United States
3      /fighter/Holly-Holm-75125  75125  ...  Albuquerque, New Mexico  United States
4   /fighter/Dominick-Cruz-12107  12107  ...    San Diego, California  United States

[5 rows x 11 columns]

In [3]:
Fighters_size_subset = Fighters.drop(['url', 'fid','nick','birth_date','association','locality','country'], axis = 1)
Fighters_size_subset.head(6)

                 name  height  weight              class
0                name  height  weight              class
1      Conor McGregor      68     145      Featherweight
2           Jon Jones      76     205  Light Heavyweight
3          Holly Holm      68     135       Bantamweight
4       Dominick Cruz      68     134       Bantamweight
5  Demetrious Johnson      63     125          Flyweight